/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
