/*********************************************

This is the style file for this project.

**********************************************/
#box {
  position: absolute;
  width: 200px;
  height: auto;
}

#apple {
  position: absolute;
  width: 100px;
  height: auto;
}

#machine {
  position: absolute;
  pointer-events: none;
}

.ui-moneybar {
  position: relative;
}
.ui-hungerbar {
  position: relative;
}
.money-label {
  position: absolute;
  left: 50%;
  top: 12px;
  font-weight: bold;
}
.hunger-label {
  position: absolute;
  left: 50%;
  top: 50px;
  font-weight: bold;
}
